body {
  font-family: "Nunito", sans-serif;
  color: #373737;
  margin: 0; }

.logo {
  width: 51px;
  height: 50px;
  border-radius: 50%;
  margin-right: 1rem; }

.header {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-top: 5px solid #F8A000;
  background-color: white;
  box-shadow: 0px 3px 6px rgba(55, 55, 55, 0.1); }
  .header__container {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    @media only screen and (max-device-width: 480px) {
      .header__container {
        /* styles for mobile browsers smaller than 480px; (iPhone) */ }
        .header__container {
          flex-direction: column; } }
  .header__intro {
    display: flex;
    width: 40%; }
    @media only screen and (max-device-width: 480px) {
      .header__intro {
        /* styles for mobile browsers smaller than 480px; (iPhone) */ }
        .header__intro {
          width: 100%;
          margin-bottom: 1rem; } }
  .header__search {
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: left;
    width: 100%;
    background-color: #F8F8FB;
    border-radius: 12px; }
  .header__icon {
    margin: 1rem;
    width: 18px;
    height: 18px; }
  .header__input-text {
    font-size: 1em;
    width: 70%;
    background-color: transparent;
    border: none;
    color: #707275; }
  .header__user {
    display: flex;
    justify-content: right;
    align-items: center;
    align-content: center; }
  .header__avatar {
    margin-right: .5rem;
    width: 2rem;
    height: 2rem;
    border-radius: 50%; }
  .header__link {
    font-weight: 700;
    margin-right: 1rem;
    color: #373737; }
  .header__nav {
    margin-top: 1rem;
    border-top: 1px solid rgba(112, 124, 144, 0.120274);
    font-weight: 700; }
  .header__nav > ul {
    padding: 0; }
  .header__nav-link {
    display: inline;
    margin-right: 1rem; }
  .header__nav-link a {
    text-decoration: none;
    color: #373737; }
  .header__nav-link a:hover {
    border-bottom: 5px solid #F8A000; }
  .header .nav-link--selected {
    border-bottom: 5px solid #F8A000; }

/* Start Main zone */
.container {
  display: flex; }

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 20%;
  height: 100vh;
  align-items: center;
  background-color: #EAEAEC; }
  @media screen and (max-width: 900px) {
    .sidebar {
      display: none; } }

.main {
  width: 100%;
  padding: 2rem;
  background-color: #F2F2F2;
  color: #373737; }
  .main__title {
    margin-bottom: 1rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700; }

.article {
  display: flex;
  flex-wrap: wrap; }
  .article__title {
    margin-bottom: 1rem; }

.section {
  margin: 2rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #FFFFFF;
  box-shadow: 0px 6px 12px rgba(74, 100, 160, 0.1);
  border-radius: 12px;
  color: #373737;
  /* default styles here for older browsers. 
     I tend to go for a 600px - 960px width max but using percentages
  */
  /* different techniques for iPad screening */ }
  @media only screen and (min-width: 960px) {
    .section {
      /* styles for browsers larger than 960px; */ }
      .section {
        min-width: 15rem;
        max-width: 20%; } }
  @media only screen and (min-width: 1440px) {
    .section {
      /* styles for browsers larger than 1440px; */ } }
  @media only screen and (min-width: 2000px) {
    .section {
      /* for sumo sized (mac) screens */ }
      .section {
        min-width: 15rem;
        max-width: 20%; } }
  @media only screen and (max-device-width: 480px) {
    .section {
      /* styles for mobile browsers smaller than 480px; (iPhone) */ }
      .section {
        width: 100%;
        margin: .5rem; } }
  @media only screen and (device-width: 768px) {
    .section {
      /* default iPad screens */ } }
  @media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: portrait) {
    .section {
      /* For portrait layouts only */ } }
  @media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: landscape) {
    .section {
      /* For landscape layouts only */ } }
  .section__img {
    width: 59px;
    height: 59px;
    position: relative;
    top: -2rem;
    background: url(""), #FFFFFF;
    box-shadow: 0px 3px 6px rgba(55, 55, 55, 0.1);
    border-radius: 4px; }
  .section__content {
    text-overflow: ellipsis; }
  .section__btn {
    background: #F8A000;
    border-radius: 24px;
    padding: .5rem 1rem .5rem 1rem; }
  .section a {
    text-decoration: none;
    color: #373737; }
  .section a:hover {
    background-color: #373737;
    color: #F8A000; }

.footer {
  display: flex;
  border-bottom: 5px solid #F8A000;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  justify-content: start; }
  .footer__nav-link {
    display: inline;
    margin-right: 1rem; }
  .footer__nav-link a {
    text-decoration: none;
    color: #373737; }
  .footer__nav-link a:hover {
    border-bottom: 5px solid #F8A000; }

/*# sourceMappingURL=style-sass.css.map */
